@font-face {
    font-family: 'museo_sans_500regular';
    src: url('../fonts/MuseoSans_500-webfont.eot');
    src: url('../fonts/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MuseoSans_500-webfont.woff') format('woff'),
         url('../fonts/MuseoSans_500-webfont.ttf') format('truetype'),
         url('../fonts/MuseoSans_500-webfont.svg#museo_sans_500regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
  font-family: 'museo_sans_500regular', Helvetica, sans-serif !important;
}

body {
}

ul.wider {
  /*width: 80%;*/
  text-align: center;
}

ul.wider > li {
  width: 33%;
}

a.name {
  font-size: 24px;
  /*padding-right: 25px;*/
}

img {
  vertical-align: baseline;
}

.full-width {
  padding: 0 15px;
  width: 100%;
}

#images {
	display: inline-block;
	width: 90%;
	margin-left: 25px;
}

#grid {
}

#large-image {
	/*float: right;*/
}

#resume {
  padding: 0 15px;
  position: absolute;
  top: -100%;
  height: 100%;
  width: 100%;
  background-color: #bbb;
  display: none;
}

div.resume-body {
  padding-top: 60px;
}

#resume p {
}

.navbar {
  /*transition: all 1s;*/
  z-index: 1000;
}