.view-container {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  @include breakpoint(tablet) {
    padding-left: 0;
    padding-right: 0;
  }
}

.view-frame {
  z-index: 10;
  @include breakpoint(tablet) {
    left: 0;
    right: 0;
  }
  &.ng-enter {
    animation: fade-in-down 1s ease 1s both;
  }
  &.ng-leave {
    animation: fade-out-up 0.5s ease 0 both;
  }
}

.fadeImg {
  animation: fade-out 0.8s forwards;
}

.fadeImg-remove.fadeImg-remove-active {
  animation: fade-in 0.8s forwards;
}
