@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translate3d(0, -10%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-out-up {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(0, -10%, 0);
  }
}

@keyframes fade-in {
  0% { opacity: 0.57; }
  100% { opacity: 1; }
}

@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0.57; }
}
