html {
  overflow-y: scroll;
}

body {
  background: url('/images/backstripe.png') no-repeat;
  background-position-y: -30px;
  background-attachment: fixed;
  padding-top: 120px;
}

#foreground {
  position: fixed;
  width: 100%;
  background-color: #fff;
  height: 80px;
  top: 0;
  left: 18px;
  z-index: 10;
}

#thumbs {
  text-align: center;
  @include breakpoint(tablet) {
    text-align: left;
  }
  a {
    cursor: pointer;

    &.thumbnailLink > img {
      position: relative;
      padding: 3px;
      width: 240px;
      height: auto;
      display: inline-block;
      @include breakpoint(tablet) {
        padding: 20px;
      }
    }

    &:hover {
      text-decoration: none;
    }
  }
}


#gallery {
  padding-bottom: 30px;
}

#resume, #bio {
  // padding: 0 15px;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.85);
}

div.resume-body {
  line-height: 1em;
  padding-bottom: 65px;


  h1 {
    position: relative;
    top: -20px;
  }

  h3 {
    padding-bottom: 20px
  }
  h3:first-child {
    margin-top: 0px;
  }

  p {
    line-height: 0.8;
  }
}

#home-image {
  margin: 0 auto;
  max-width: 670px;
}

.fixed {
  position: fixed !important;
}

@include respond-to(mobileonly) {

  .navbar-stack {
    position: initial !important;
  }
}
