html {
  overflow-y: scroll;
}

body {
  background: url('/images/backstripe.png') no-repeat;
  background-position-y: -30px;
  background-attachment: fixed;
  padding-top: 120px;
}

#foreground {
  position: fixed;
  width: 100%;
  background-color: #fff;
  height: 80px;
  top: 0;
  left: 18px;
  z-index: 100;
}

#resume, #bio {
  background-color: rgba(255, 255, 255, 0.85);
}

.resume-body {
  line-height: 1em;
  padding-bottom: 65px;


  h1 {
    position: relative;
    top: -20px;
  }

  h3 {
    padding-bottom: 20px
  }
  h3:first-child {
    margin-top: 0px;
  }

  p {
    line-height: 0.8;
  }
}

#home-image {
  margin: 0 auto;
  max-width: 670px;
}

.fixed {
  position: fixed !important;
}

@include respond-to(mobileonly) {

  .navbar-stack {
    position: initial !important;
  }
}
