.resume-body {
  line-height: 1em;
  padding-bottom: 65px;

  h1 {
    position: relative;
    top: -20px;
  }

  h3 {
    padding-bottom: 20px
  }
  h3:first-child {
    margin-top: 0px;
  }

  p {
    line-height: 0.8;
  }
}
