* {
  font-family: 'Raleway', Helvetica, sans-serif !important;
}

html {
  overflow-y: scroll;
}

body {
  background: url('../images/backstripe.png') no-repeat;
  background-position-y: -30px;
}

ul.wider {
  /*width: 80%;*/
  text-align: center;
}

ul.wider > li {
  width: 33%;
}

a.name {
  font-size: 24px;
  /*padding-right: 25px;*/
}

.full-width {
  padding: 0 15px;
  width: 100%;
}

#gallery {
}

#resume {
  padding: 0 15px;
  position: absolute;
  top: -100%;
  height: 100%;
  width: 100%;
  background-color: #fff;
  display: none;
}

#bio {
  padding: 0 15px;
  position: absolute;
  top: -100%;
  height: 100%;
  width: 100%;
  background-color: #fff;
  display: none;
}

div.resume-body {
  line-height: 1em;
  padding-top: 38px;
  padding-bottom: 65px;
  width: 55%;
  float: left;
}

div.resume-body h1 {
  position: relative;
  top: -20px;
}

div.resume-body h3 {
  border-bottom: 1px solid #f00;
}

#resume p {
}

#resume-image {
  float: right;
  position: relative;
  right: 0;
  padding-top: 38px;
}

.fixed {
  position: fixed !important;
}

.navbar {
  z-index: 1000;
  border-radius: 1px;
  background-color: transparent;
  border-bottom: 3px solid #f00;

  .navbar-brand {
    color: #000;
    letter-spacing: 8px;
    padding: 30px;
    position: relative;
    top: 18px;
    font-size: 34px;
  }

  .navbar-toggle {
    top: 35px;

    .icon-bar {
      background-color: #000;
    }
  }
}

  .navbar-stack > li > a {
    color: #000;
  }

  .navbar-stack > li.active > a,
  .navbar-stack > li.active > a:hover,
  .navbar-stack > li > a:hover {
    /*background-color: #224c3f !important;*/
  }

@media all and (max-width: 990px) {
  ul.thumbs li img {
    height: 62px;
    width: 62px;
  }

  #resume p {
    font-size: 11px;
  }

  div.resume-body {
  }

  div.resume-body h3 {
    font-size: 1.2em;
  }

  div.resume-body h1 {
    font-size: 1.4em;
  }
}
@media all and (max-width: 680px) {
  #thumbs {
    /*display: none !important;*/
  }
  #large-image {
    margin: 0 auto;
  }
}