<section id="thumbs">
  <a class="lightbox" data-gall="jenaGallery" href="images/DSC_1059.jpg">
    <img src="images/original/thumbs/DSC_1059.jpg" />
  </a>
  <a class="lightbox" data-gall="jenaGallery" href="images/DSC_1077.jpg">
    <img src="images/original/thumbs/DSC_1077.jpg" />
  </a>
  <a class="lightbox" data-gall="jenaGallery" href="images/DSC_1087.jpg">
    <img src="images/original/thumbs/DSC_1087.jpg" />
  </a>
  <a class="lightbox" data-gall="jenaGallery" href="images/DSC_1089.jpg">
    <img src="images/original/thumbs/DSC_1089.jpg" />
  </a>
  <a class="lightbox" data-gall="jenaGallery" href="images/DSC_1090.jpg">
    <img src="images/original/thumbs/DSC_1090.jpg" />
  </a>
  <a class="lightbox" data-gall="jenaGallery" href="images/DSC_1100.jpg">
    <img src="images/original/thumbs/DSC_1100.jpg" />
  </a>
  <a class="lightbox" data-gall="jenaGallery" href="images/HardyI.jpg">
    <img src="images/original/thumbs/HardyI.jpg" />
  </a>
  <a class="lightbox" data-gall="jenaGallery" href="images/Hardy.jpg">
    <img src="images/original/thumbs/Hardy.jpg" />
  </a>
  <a class="lightbox" data-gall="jenaGallery" href="images/NotSoFarAway.jpg">
    <img src="images/original/thumbs/NotSoFarAway.jpg" />
  </a>
  <a class="lightbox" data-gall="jenaGallery" href="images/beforewecame.jpg">
    <img src="images/original/thumbs/beforewecame.jpg" />
  </a>
  <a class="lightbox" data-gall="jenaGallery" href="images/chutethepool.jpg">
    <img src="images/original/thumbs/chutethepool.jpg" />
  </a>
  <a class="lightbox" data-gall="jenaGallery" href="images/ifit'sfound.jpg">
    <img src="images/original/thumbs/ifit'sfound.jpg" />
  </a>
  <a class="lightbox" data-gall="jenaGallery" href="images/it_has_a_growing_voice.jpg">
    <img src="images/original/thumbs/it_has_a_growing_voice.jpg" />
  </a>
  <a class="lightbox" data-gall="jenaGallery" href="images/piecebypiece.jpg">
    <img src="images/original/thumbs/piecebypiece.jpg" />
  </a>
  <a class="lightbox" data-gall="jenaGallery" href="images/surprisecorner II.jpg">
    <img src="images/original/thumbs/surprisecorner II.jpg" />
  </a>
  <a class="lightbox" data-gall="jenaGallery" href="images/surprisecorner.jpg">
    <img src="images/original/thumbs/surprisecorner.jpg" />
  </a>
  <a class="lightbox" data-gall="jenaGallery" href="images/tothisplace.jpg">
    <img src="images/original/thumbs/tothisplace.jpg" />
  </a>
  <a class="lightbox" data-gall="jenaGallery" href="images/white_river.jpg">
    <img src="images/original/thumbs/white_river.jpg" />
  </a>
  <a class="lightbox" data-gall="jenaGallery" href="images/worldupturned.img001.jpg">
    <img src="images/original/thumbs/worldupturned.img001.jpg" />
  </a>
  <a class="lightbox" data-gall="jenaGallery" href="images/worldupturned.img002.jpg">
    <img src="images/original/thumbs/worldupturned.img002.jpg" />
  </a>
  <a class="lightbox" data-gall="jenaGallery" href="images/worldupturned.img003.jpg">
    <img src="images/original/thumbs/worldupturned.img003.jpg" />
  </a>
  <a class="lightbox" data-gall="jenaGallery" href="images/worldupturned.img004.jpg">
    <img src="images/original/thumbs/worldupturned.img004.jpg" />
  </a>
  <a class="lightbox" data-gall="jenaGallery" href="images/worldupturned.img005.jpg">
    <img src="images/original/thumbs/worldupturned.img005.jpg" />
  </a>
  <a class="lightbox" data-gall="jenaGallery" href="images/worldupturned.img006.jpg">
    <img src="images/original/thumbs/worldupturned.img006.jpg" />
  </a>
  <a class="lightbox" data-gall="jenaGallery" href="images/worldupturned.img007.jpg">
    <img src="images/original/thumbs/worldupturned.img007.jpg" />
  </a>
  <a class="lightbox" data-gall="jenaGallery" href="images/worldupturned.img008.jpg">
    <img src="images/original/thumbs/worldupturned.img008.jpg" />
  </a>
  <a class="lightbox" data-gall="jenaGallery" href="images/worldupturned.img009.jpg">
    <img src="images/original/thumbs/worldupturned.img009.jpg" />
  </a>
  <a class="lightbox" data-gall="jenaGallery" href="images/worldupturned.img010.jpg">
    <img src="images/original/thumbs/worldupturned.img010.jpg" />
  </a>
  <a class="lightbox" data-gall="jenaGallery" href="images/worldupturned.img011.jpg">
    <img src="images/original/thumbs/worldupturned.img011.jpg" />
  </a>
</section>