<section id="resume">
  <div class="resume-body">
      <h3>Education</h3>
      <p>Bachelor of Fine Arts, Studio Arts, Brigham Young University, 2011</p>
      <p>Utah Valley University, Associates of Science, Honors Program, 2008</p>
      <h3>Exhibitions</h3>
      <p>2015</p>
      <p>Black North (Solo), Finch Lane Gallery, SLC UT </p>
      <br />
      <p>2014</p>
      <p>The Family of Things, Alice Gallery, SLC, UT</p>
      <p>Utah Museum of Contemporary Art Gala Show, UMOCA, SLC, UT</p>
      <p>Utah Show, Mod-A-GoGo, SLC, UT</p>
      <br />
      <p>2013</p>
      <p>Mod-A-GoGo, SLC, UT</p>
      <p>Galaxsea, Gallery on 21st, Sugarhouse UT</p>
      <p>Sight and Sound, Brigham Young University, Provo UT</p>
      <br />
      <p>2012</p>
      <p>Gallery Stroll, Innovation Gallery, Provo, UT</p>
      <p>Jann, Jena, Clark Art Show, Waggenry Studios, Provo, UT</p>
      <br />
      <p>2011</p>
      <p>Here the Mountain Was Made (Solo), BF Larsen Gallery, Provo, UT</p>
      <p>Untitled Group Exhibition, Gallery 2050 Main, Irvine, CA</p>
      <p>Becoming, BF Larsen Gallery, Provo, UT</p>
      <p>Close, But Not Touching, Marshall LaKae Gallery, Scottsdale, AZ</p>
      <p>Reciprocate. Rubber Tramp, BF Larsen Gallery, Provo, UT</p>
      <p>Mayhew Show, Provo, UT</p>
      <p>Soliloquy, Utah Valley University, Orem, UT</p>
      <p>Community Show, Woodbury Gallery, Provo, UT</p>
      <h3>Employment/Experience</h3></p>
      <p>Visitor Services Coordinator, Utah Museum of Contemporary Art, SLC, UT.</p> 
      <p>Artist's Assistant to professional artist Hyunmee Lee, UT</p>
      <p>Teacher's Aid to Peter Everett, Joseph Ostraff, Fidalis Buehler, College of Fine</p>
      <p>Arts Student Association 2010-2011</p>
      <p>Assistant Teacher to Professor Peter Everett teaching beginning college level drawing class Summer term 2011.</p>
      <h3>Press</h3>
      <p><a href="http://artistsofutah.org/15Bytes/index.php/the-family-of-things-at-alice-gallery/">15Bytes</a></p>
      <p><a href="http://young-space.com/2014/05/05/mountains-of-color-jena-schmidt/">The Young Space</a></p>
      <p>Slug Magazine, Porchfest 2013</p>
      <p>Insight Magazine, 2012</p>
  </div>
</section>